@import "tailwindcss";
/* .header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 70px;
    padding-bottom: 5px;
}
.logo{
   width: 150px; 
}
.nav-items{
    padding-top: 20px;
  
    
}
.nav-items>ul{
    font-size:25px ;
    display: flex;
    list-style-type: none;
    border: 1px solid black;
    width: 800px;
    
    justify-content: space-between;
 
    

}
.nav-items>ul>li{
   
    padding: 20px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;

}
.res-card{
    width: 220px;
    height: 430px;
    margin: 5px;
    
}
.res-card:hover{
    border: 2px solid gray;
    cursor:pointer;
    
}
.food-info{
    padding-left: 10px;
}
.search{
    padding: 10px;
}
.res-logo{
    padding:4px;
    width: 210px;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: rgb(127, 34, 34);
}
.login{
    padding: 0px 20px;
    cursor: pointer;

}
.filter{
    display: flex;
}
.user-card{
    margin: 10px;
    border: 1px solid black;
} */